  <article id="splash">
    <header>
      <h2>#TwitterVotes2012</h2>
      <h4>
        <%= TwitterUser.where(:vote => [2,3]).count %> votes and counting
      </h4>
      <h5>Tweet your support and see who your network is voting for</h5>
      <a href="/auth/twitter"><img src="https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png" alt=""></a>
          </header>
          <a class="twitter-timeline" href="https://twitter.com/search?q=%23twittervotes2012" data-widget-id="265504040115376128">Tweets about "#twittervotes2012"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  </article>